body {
    margin:0;
    padding: 0;
    font-size: 18px;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}

.container {
    max-width: 390px;
    border: 1px solid #000000;
}

.inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px 200px ;
    border: 1px solid #000000;
		
}

.img {
    width: 300px;
}

.back {
    width: 50px;
    border: 1px solid #000000;
}

.item {
    text-align: center;
    display: grid;
    justify-items: center;
    border: 1px solid #000000;
}

.btn {
    border: 1px solid #000000;
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background: #ffa500;
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-width: 700;

    transition: background .2s linear;
}

.btn:hover{
    background: lightgreen;
}

.usercard{
    text-align: center;
}