body {
    margin:0;
    padding: 0;
    font-size: 18px;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}

.container {
    max-width: 400px;		
		
}

.inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 230px 230px 230px;
		column-gap:  20px;
		row-gap:  20px;
		padding: 10px;		
		grid-row: span 50;
}

.img {
    width: 150px;
}

.item {
    text-align: center;
    box-shadow: 0 0 5px grey;
  	transform: translateY(-5px);
		border-radius: 10px;		
}

.name {
	margin: 0 0 10px 0;
	color: var(--tg-theme-text-color);
	font-family: 'SF Pro Display', sans-serif;
}

.price {
	position: fixed;
	margin: 0px;
	top: 195px;
	left: 10px;
	font-family: 'SF Pro Display', sans-serif;
	color: var(--tg-theme-text-color);
	
}

.btn {
	border: 1px solid #000000;
	display: inline-block;
	padding: 6px 15px;
	border: none;
	background: #ffa500;
	border-radius: 10px;
	color: var(--tg-theme-button-text-color);
	text-transform: uppercase;
	background-repeat: no-repeat;
	transition: background .2s linear;
	position: fixed;
	left: 112px;
	top: 190px;
	margin: 0;
	
}

.image {
	width: 15px;
}

.btn:hover{
    background: lightgreen;
}

.usercard{
    text-align: center;
}

.prise {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	padding: 5px;
	
}

.btn1 {
	border: 1px solid #000000;
	display: inline-block;
	padding: 5px 10px;
	border: none;
	background: #ffa500 ;
	border-radius: 8px;
	color: #fff;
	text-transform: uppercase;
	background-repeat: no-repeat;
	transition: background .2s linear;
}

.image{
	padding: 0 0 0 10px;
}

